*{
    background-size: cover;
    font-family: 'poppins', Inter;
    /* margin-left: 1%; */
}
.topnav{
    display: flex;
    flex-direction: row;
    padding: 10px;
    border: 0px;
    justify-content: space-between;
    max-width: 100%;
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5); 
    justify-content: space-evenly;   
}
.logo{
    float: left;
    font-size: 12px;
    width: 120px;
    text-align: center;
    border-radius: 40px;
    background-color: blue; 
    margin-left: -100px;
    color: white;
    font-weight: bolder;
    text-align: center;
}
#searchProduct{
    width: 300px;
    padding-left: 20px;
    margin-top: 20px;
    font-size: 20px;
    border-radius: 15px;
}
#search-btn{
  margin-left: -100px;
  margin-top: 22px;
  width: 70px;
  background-color: blue;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  padding: 4px;
}
.dropbtn {
    background-color: blue;
    color: white;
    padding: 10px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 20px;
    min-width: 80px;
    margin-top:10px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
#cart{
    width: 80px;
    background-color: blue;
    color: white;
    font-weight: bold; 
    height: 40px;
    font-size: 18px;
    border-radius: 20px;
    border: none;
    padding: 10px;
    margin-top: 10px;
}
.categorybtn{
    background-color: blue;
    color: white;
    padding: 10px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 20px;
    min-width: 80px;
    margin-top:10px;
    margin-left: 30px;
}
.itro {
    text-align: center;
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
    max-width: 50%;
    justify-content: space-evenly;
    margin-left: 300px;
    font-size: larger;
   padding: 20px;
}
.container{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 20px;
    background-color: white;
    margin-left: 5%;
    border: 2px;
    border-style: none;
    box-sizing: border-box;
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5); 
    justify-content: right;
}
.categoryContainer{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 20px;
    background-color: white;
    margin-left: 5%;
    border: 2px;
    border-style: none;
    box-sizing: border-box;
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5); 
    margin-left: 90px;
}
.categoryItems{
    width: 150px;
    height: 130px;
}
.categoryContainer .items{
    display: flex;
    flex-direction: row;  
    justify-content: space-between;
}
.categoryContainer .categName{
    text-align: centre;
    color: blue;
}
.categoryContainer .items .item-container{
    width: 20%;
    text-align: center;
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
    margin: 2px white;
    padding-top: 10px;
}
.item-container p{
    font-size: 12px;

}
#addItem {
    background-color: blue;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    padding: 4px; 
}