* {
    padding: 0;
    margin: 20px;
    font-style: poppin;
    font-size: 28px;
}


header {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    box-sizing: border-box;
    border: 2px solid white;
    box-shadow: 2px 2px 2px grey;
}

.logo{
    box-sizing: border-box;
    border-radius: 50px;
background-color: black;
align-items: center;
}

.navigation {
    display: flex;
    color: white;
    justify-content: space-around;
    padding: 50px;
    list-style: none;
}

.navigation a {
    justify-content: space-between;
    text-indent: 50px;
}

h2{
    color: #0000FF;
    font-size: 35px;
}

.intro {
    display: flex;
    justify-content: space-around;
}

.stats {
    margin-left: 400px;
    margin-right: 400px;
    list-style: none;
    display: flex;
    position: relative;
    justify-content: space-evenly;
    border: 5px solid white;
    box-shadow: 5px 5px 2px grey;
    margin-bottom: 100px;
}

.uwezo {
    display: flex;
    margin-bottom: 100px;
    justify-content: space-around;
}

.shop{
    display: flex;
    justify-content: space-around;
}

.ticks img{
    height: 40px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    margin-bottom: 150px;
}

.images {
    justify-content: space-between;
}

.more{
    text-align: right;
    margin-right: 50px;
}

.customers{
    text-align: center;
}

.rating{
    color: #0000FF;
}

.subscribe{
    text-align: center;
    margin-bottom: 50px;
}
.Footer {
    display: flex;
    flex-direction: column;
}

.Footer1 {
    padding-left: 10px;
}

footer .f {
    display: flex;
    justify-content: space-between;
}

.f .Footer {
    padding-right: 60px;
    font-size: 20px;
}

.f {
    font-size: 20px;
}





footer {
    background-color: #0000FF;
}

.footerstart {
    display: flex;
    justify-content: space-between;
}

/* .footerend {
    align-items: center;
} */

.feedback {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 20px;
    margin: 50px;
}

.feeds{
    box-sizing: border-box;
    border: 2px solid ;
}
.feedback img{
    border-radius: 20px;
}
.copyright{
    text-align: center;
}

ul{
    list-style: none;
}

button{
    background-color: #0000FF;
    color: white;
    padding: 10px;
}